.category-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 50vw;
    height: 60vh;
}  

.category {
    width: 14rem;
    padding: 2rem 4rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    border: none;
    font-size: 1.4rem;
}

.toggled {
    background-color: #44DB5E;
    font-size: 1.5rem;
}

.continue {
    bottom: 0;
    width: 14rem;
    padding: 2rem 4rem;
    font-size: 1.4rem;
    background-color: #000;
    color: #fff;
    text-align: center;
}

@media (max-width: 800px) {
    .category-container {
        width: 80vw;
    }
}