.submit-btn {
    color: white;
    background-color: black;
    padding: 0.8em 4em;
    font-size: 1.3em;
    border: none;
    font-weight: 300;
    align-self: center;
}

.form-container {
    width: 80vw;
}

.item-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 0.5em 2em;
}

.input-text {
    font-size: 1.4em;
    line-height: 1.6em;
    border: 2px solid black;
    padding: 0.2em 0.3em;
    box-shadow: none;
    border-radius: none;
    margin-bottom: 1em;
    width: 90%
}

.FormInput {
    width: 100%;
}