.anbud-list-item-container {
    border: 1px solid black;
    margin: 2em 0;
    padding: 0.5em 1em;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.total-price {
    margin-left: 0.2em;
    font-size: 2em;
}