.submit-btn {
    color: white;
    background-color: black;
    padding: 0.8em 4em;
    font-size: 1.3em;
    border: none;
    font-weight: 300;
    position: absolute;
    bottom: 2em;
}

.form-container {
    padding: 3em;
    height: 90%;
}

.input-text {
    font-size: 1.2em;
    border: none;
    border-bottom: 2px solid black;
    padding: 0.2em 0.3em;
    box-shadow: none;
    border-radius: none;
    margin-bottom: 1em;
}