.anbud-list-item-container {
    border: 1px solid black;
    margin: 2em 0;
    border-radius: 1em;
    padding: 1em 2em;
    transition: box-shadow 0.1s ease-in-out;
}

.anbud-list-item-container:hover {
    box-shadow: -5px 5px 50px #888888;
}

.anbud-list-item-information {
    text-align: right;
}

.information {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}

.total-price {
    margin-left: 0.2em;
    font-size: 2em;
}