.customer-outer-container {
    display: flex; 
    flex: 1; 
    flex-direction: column;
}

.customer-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 60%;
    padding: 0 0 2em 0;
}

.legend {
    flex: 1;
    margin-right: 1em;
}

.customer {
    flex: 2;
    border-left: 2px solid black;
    padding-left: 1em;
}